<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Form2</title>
</head>
<body>
    <form action="#" method="POST">
        <label>Color</label>
        <check if="{{ isset(@errors['color']) }}">
            <p>{{ @errors ['color']}}</p>
        </check>
        <select name="color">
            <repeat group="{{@colors}}" value="{{@colorOption}}">
                <option>{{ @colorOption }}</option>
            </repeat>
        </select>
        <input type="submit" value="Submit">
    </form>
</body>
</html>